.*
Dockerfile
nadybot.spec.rpkg
rpkg.macros
README.md
chatbot.sh
mainloop.php
*.bat
docs
tools
composer_install.bat
conf/*.php
src/Modules/GIT_MODULE
vendor
logs
img
tags
style
src/Api
generateApiDoc.php
extras/*
.codespellrc
