/logs
/debian/transfer
/cache
/conf/config*.php
/conf/config*.toml
!/conf/config.template.php
!/conf/config.template.toml
/data/*
*.log
*.DS_Store
*.xcuserdata
*.xcworkspace
/extras
/res/icons/orig
/vendor
/html/*
!/html/api.json
/php
.php-cs-fixer.cache
