parameters:
  reportMaybesInPropertyPhpDocTypes: false
  level: 7
  paths:
    - src
  excludePaths:
    - src/websetup/
  phpVersion: 80200
  ignoreErrors:
    - '#Property [a-zA-Z0-9\\_]+::\$.* is never written, only read.#'
    - '#Static property [a-zA-Z0-9\\_]+::\$.* is never written, only read.#'
  stubFiles:
    - Stubs/EventSauce.ObjectHydrator.IterableList.php
    - Stubs/Illuminate.Contracts.Support.Arrayable.stub
    - Stubs/Illuminate.Contracts.Support.Jsonable.stub
    - Stubs/Illuminate.Contracts.Support.CanBeEscapedWhenCastToString.stub
    - Stubs/Illuminate.Support.Arrayable.stub
    - Stubs/Illuminate.Support.Collection.php
    - Stubs/Illuminate.Support.Enumerable.stub
    - Stubs/Illuminate.Support.ItemNotFoundException.stub
    - Stubs/ParserGenerator.Parser.php
    - Stubs/ParserGenerator.SyntaxTreeNode.Base.php
    - Stubs/ParserGenerator.SyntaxTreeNode.Branch.php
    - Stubs/ParserGenerator.SyntaxTreeNode.Leaf.php
    - Stubs/ParserGenerator.SyntaxTreeNode.Root.php
  sfpPsrLog:
    enableMessageStaticStringRule: true
    enableContextRequireExceptionKeyRule: true
    reportContextExceptionLogLevel: 'info'
    contextKeyOriginalPattern: '#\A[A-Za-z0-9-_]+\z#'
  shipmonkRules:
      forbidUnsafeArrayKey:
          enabled: false
      allowComparingOnlyComparableTypes:
          enabled: false
      backedEnumGenerics:
          enabled: true
      classSuffixNaming:
          enabled: false
          superclassToSuffixMapping: []
      enforceClosureParamNativeTypehint:
          enabled: true
          allowMissingTypeWhenInferred: false
      enforceEnumMatch:
          enabled: true
      enforceIteratorToArrayPreserveKeys:
          enabled: true
      enforceListReturn:
          enabled: true
      enforceNativeReturnTypehint:
          enabled: true
      enforceReadonlyPublicProperty:
          enabled: false
      forbidArithmeticOperationOnNonNumber:
          enabled: true
          allowNumericString: true
      forbidCast:
          enabled: false
          blacklist: ['(array)', '(object)', '(unset)']
      forbidCheckedExceptionInCallable:
          enabled: false
          allowedCheckedExceptionCallables: []
      forbidCheckedExceptionInYieldingMethod:
          enabled: false
      forbidCustomFunctions:
          enabled: false
          list: []
      forbidEnumInFunctionArguments:
          enabled: false
      forbidFetchOnMixed:
          enabled: false
      forbidIdenticalClassComparison:
          enabled: true
          blacklist: ['DateTimeInterface']
      forbidIncrementDecrementOnNonInteger:
          enabled: true
      forbidMatchDefaultArmForEnums:
          enabled: true
      forbidMethodCallOnMixed:
          enabled: true
      forbidNotNormalizedType:
          enabled: true
          checkDisjunctiveNormalForm: true
      forbidNullInAssignOperations:
          enabled: true
          blacklist: ['??=']
      forbidNullInBinaryOperations:
          enabled: true
          blacklist: ['===', '!==', '??']
      forbidNullInInterpolatedString:
          enabled: false
      forbidPhpDocNullabilityMismatchWithNativeTypehint:
          enabled: true
      forbidProtectedEnumMethod:
          enabled: true
      forbidReturnValueInYieldingMethod:
          enabled: true
          reportRegardlessOfReturnType: false
      forbidVariableTypeOverwriting:
          enabled: false
      forbidUnsetClassField:
          enabled: true
      forbidUselessNullableReturn:
          enabled: true
      forbidUnusedException:
          enabled: false
      forbidUnusedMatchResult:
          enabled: true
      requirePreviousExceptionPass:
          enabled: true
          reportEvenIfExceptionIsNotAcceptableByRethrownOne: true
      uselessPrivatePropertyDefaultValue:
          enabled: false
      uselessPrivatePropertyNullability:
          enabled: true
  strictRules:
    allRules: false
    disallowedLooseComparison: true
    booleansInConditions: false
    uselessCast: true
    requireParentConstructorCall: false
    disallowedConstructs: true
    overwriteVariablesWithLoop: true
    closureUsesThis: true
    matchingInheritedMethodNames: true
    numericOperandsInArithmeticOperators: true
    strictCalls: true
    switchConditionsMatchingType: true
    noVariableVariables: false
    strictArrayFilter: true
includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/nadyita/phpstan-amp-file-rule/phpstan-amp-file-rule.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/struggle-for-php/sfp-phpstan-psr-log/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/shipmonk/phpstan-rules/rules.neon
