Source: nadybot
Priority: optional
Maintainer: Nadyita <nadyita@hodorraid.org>
Build-Depends:
 debhelper (>= 9.20160709),
 sed
Standards-Version: 3.9.5
Section: misc
Homepage: https://github.com/Nadybot/Nadybot
Vcs-Git: git://github.com/Nadybot/Nadybot.git
Vcs-Browser: https://github.com/Nadybot/Nadybot

Package: nadybot
Architecture: all
Depends:
 php-cli (>=8.1) | php8.1-cli,
 php-json (>=8.1) | php8.1-json,
 php-pdo (>=8.1) | php8.1-pdo,
 php-mysqlnd (>=8.1) | php8.1-mysqlnd,
 php-bcmath (>=8.1) | php8.1-bcmath,
 php-mbstring (>=8.1) | php8.1-mbstring,
 php-xml (>=8.1) | php8.1-xml,
 php-curl (>=8.1) | php8.1-curl,
 php-sqlite3 (>=8.1) | php8.1-sqlite3,
 php-zip (>=8.1) | php8.1-zip,
 dialog
Description: This is a chat bot for the MMORPG Anarchy Online by Funcom
